@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    padding: 0;
    margin: 0;
}
/* header */
.header{
    background-color:#252B42;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.brand{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-right: -160px;
}
.home{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    word-spacing: 10px;
    

}
.login{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: right;
    word-spacing: 10px;

}
.join{
    border-radius: 2px;
    background-color: #23A6F0;
    padding: 8px
    
}
/*  welcome page */
.welcome{
    background-color:#252B42;
    padding: 150px 20px 150px 200px;
}
.images{
    display: flex;
    background-color:#252B42;
}
.wel1{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color:  #23A6F0;
}
.heading{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
}
.para{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.button1{
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    background-color: #23A6F0;
}
.button2{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #23A6F0;;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;   
    cursor: pointer;
}
.img{
    padding:10px;
}
/* watch our course */
.watchourcourse{
    background-color:rgb(255, 255, 255);
    padding: 150px 2px 150px 200px;
}
.watch-main{
    left: 195px;
    display: flex;
}
.watch1{

}
.border{
    border-top: 5px solid #E74040;
    margin-right: 300px;
}
.head{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
.para2{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.button3{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #23A6F0;
}
.watch-main2{
    align-items: center;

}
.certified{
    padding:20px 400px 20px 30px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.sales{
    padding:20px 400px 20px 30px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.a{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
.b{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.img2{
    padding:10px 20PX ;
    background-color:  #B2E3FF;
    border-radius: 10px;
    width: 20px;
    height: 50px;
    text-align: center;
}
.img3{
        padding:10px 20PX ;
        background-color:#B9EAA8;
        border-radius: 10px;
        width: 20px;
        height: 50px;
        text-align: center;
}
.img4{
        padding:10px 20PX ;
        background-color: #FFDCD1;
        border-radius: 10px;
        width: 20px;
        height: 50px;
        text-align: center;
}
.border1{
    border-top: 5px solid #E74040;
    margin-right: 90px;
}
.image{
    padding: 10px 200px 150px 120px;
    display: flex;
    justify-content: space-around;
}
.imgg{
    padding: 10px 200px 150px 120px;
    text-align: center;
}
